video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

video::after {
    background-color: #000 !important;
    opacity: 1 !important;
}

.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__logo {
    margin: 20px !important;
}


.my_overlay{
    position: relative;
}

.my_overlay::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1 !important;
    background-color: #000 !important;
}